.user-nav-container {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

.usernav-navlinks {
  display: flex;
  height: 50px;
  align-items: center;
  margin-left: 175px;
  /* border-bottom: 1px solid grey; */
}

.user-nav-navlink {
text-decoration: none;
color: black;
font-weight: bold;
}

.albums {
  margin-left: 10px;
}
