.top-half {
  border: blue solid 1px;
  background-color: #212124;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.actual-image {
  max-height: 75vh;
  max-width: 70vw;
  object-fit: cover;
}

.bottom-half {
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.desc-area {
  display: flex;
}

.crud-btns {
  display: flex;
}
