.photos-main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, minmax(300px, auto));
  grid-auto-flow: row;
  /* margin-top: 65px; */
  gap: 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
