.profile-dropdown {
  position: absolute;
  color: black;
  background-color: white;
  right: 170px;
  top: 50px;
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}


.profile-dropdown div {
  margin-bottom: 5px;
}

#drop-menu-label {
  font-size: 12px;
  color: grey;
  margin-bottom: 0px;
}

.logout-btn {
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgb(226, 224, 224);
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky; /* switch this to fixed to get full header background color*/
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  background-color: rgba(21,21,23,.95);
  /* border: 1px red solid; */
  color: white;
  /* max-width: 80%; */
  /* margin-left: auto;
  margin-right: auto; */
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

#name {
  font-weight: bold;
  font-size: 30px;
}

.sign-up {
  margin-right: 170px;
  background-color: white;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  transition: 1s;
}

.sign-up:hover {
  color: grey;
}

.nav-left {
  margin-left: 170px;
  display: flex;
  align-items: center;
}

.explore-btn {
  margin-left: 25px;
  /* color: white; */
}

.explore-btn a {
  text-decoration: none;
  color: white;
}

.explore-btn.NavLink {
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
}

.profile-button {
  margin-left: 0px;
  margin-right: 170px;
}

.p-btn{
  border-radius: 50px;
  height: 38px;
  width: 38px;
  /* border: white 1px solid; */
  cursor: pointer;
}
