.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  border: 1px red solid;
}

.nav-right {
  display: flex;
}
