.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky; /* switch this to fixed to get full header background color*/
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  background-color: rgba(21,21,23,.95);
  /* border: 1px red solid; */
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}


.nav-right {
  display: flex;
}
