.album-modal-container {
  height: 425px;
  width: 375px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.album-form-container {
  display: flex;
  flex-direction: column;
  height: 15vh;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-form-container input {
  border-radius: 5px;
  height: 20px;
  width: 345px;
  margin-bottom: 10px;
  padding: 5px;
}

.pick {
  text-decoration: underline;
}

.mini-photo-container {
display: flex;
max-height: 250px;
flex-wrap: wrap;
width: 360px;
overflow-y: auto;
}

.mini-photo-cards {
display: flex;
flex-direction: column;
margin: 5px;
cursor: pointer;
}

.mini-photo-cards:hover {
  opacity: 0.7;
}

.photo-select-label input {
  display: flex;
}

.mini-img {
width: 110px;
height: 100px;
object-fit: cover;
border-radius: 5px;
}

.album-submit-btn {
height: 35px;
width: 350px;
font-weight: bold;
margin-top: 7px;
background-color: rgb(48, 149, 238);
font-size: 14px;
border: none;
border-radius: 5px;
color: white;
cursor: pointer;
}

.mini-photo-cards.selected {
outline: 3px solid red;
border-radius: 5px;
}


.disable {
background-color: gray;
}
